.pet-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  
  .profile-card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
  }
  
  .pet-image {
    width: 100%; /* Hace que la imagen ocupe el 100% del contenedor disponible */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 300px; /* Limita el tamaño máximo del ancho a 300px */
    max-height: 300px; /* Limita el tamaño máximo de la altura a 300px */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción y se ajuste al contenedor sin deformarse */
    border-radius: 10px;
    margin-right: 20px;
  }
  
  
  .pet-details {
    flex: 1;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    gap: 20px; /* Añade un espacio de 20px entre los botones */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples filas si es necesario */
  }
  
  .button-container button {
    padding: 10px 20px; /* Asegura un tamaño consistente para los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button {
    background-color: #4CAF50; /* Verde */
    color: white;
  }
  
  .adoption-button {
    background-color: #f44336; /* Rojo */
    color: white;
  }
  
  .solicitudes-button, .edit-button, .solicitud-button {
    background-color: #ff6b6b; /* Color de fondo rojo claro */
    color: white; /* Color del texto blanco */
  }
  
  .volver-button {
    background-color: #6c757d; /* Gris */
    color: white;
  }
  
  .button-container button:hover {
    background-color: #e65a5a; /* Color de hover para todos los botones */
  }
  