.pet-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  
  .profile-card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
  }
  
  .pet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .pet-details {
    flex: 1;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .contact-button, .adoption-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .adoption-button {
    background-color: #f44336; /* Red */
    color: white;
  }

  .button-container button {
    margin-top: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #e65a5a;
}

.edit-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Espaciado adicional si lo deseas */
}

.edit-button:hover {
  background-color: #45a049; /* Color m치s oscuro al pasar el rat칩n */
}

.edit-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Espaciado adicional si lo deseas */
}

.edit-button:hover {
  background-color: #45a049; /* Color m치s oscuro al pasar el rat칩n */
}
